* {
	margin: 0;
	padding: 0;
	outline: none;
}
.wrap {
	margin: 0 auto;
	max-width: 960px;
}
.header {
	display: flex;
	justify-content: space-between;
	background-color: #ccc;
	padding: 50px;
}
.main-menu {
	&-list {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding: 0;
		&__item {
			padding: 0 10px;
			position: relative;
			&-link {
				color: #fff;
				border-radius: 5px;
				background-color: rgba(0,0,255,1);
				text-decoration: none;
				padding: 5px 10px;
				transition-duration: 0.3s;
				&:hover {
					background-color: rgba(0,0,255,0.5);
				}
			}
			&:hover {
				.main-menu-list-dropdown {
					display: block;
				}
			}
		}
  		&-dropdown{
  			margin: 0;
  			padding: 0;
  			list-style:none;
  			position: absolute;
  			left: 10px;
  			top: 30px;
  			width: 200px;
  			padding: 10px;
  			box-sizing:border-box;
  			background-color: gray;
  			border-radius: 5px;
  			display: none;
  			&::after {
  				content: '';
  				position: absolute;
  				left: 0;
  				top: -7px;
  				height: 7px;
  				width: 100%;
  				background-color: transparent;
  			}
  			li {
  				a {
  					color: #fff;
  					text-decoration: none;
  					font-size: 12px;
  				}
  			}
  		}
	}
}